.grid-container {
  background-color: rgb(190, 190, 231);
  display: grid;
  gap: 5px;
}

.grid-item {
  background-color: purple;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;          
  display: flex;
  align-items: flex-start;     
  justify-content: center;     
  padding-top: 8px;
  border-radius: 4px;
}


.grid-container-1 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}


.grid-container-2 {
  height: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr;
}


.grid-container-3 {
  height: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.6fr 1fr 1fr;  
}

.grid-container-3 .item8 {
  grid-column: 2 / 4; 
}


.grid-container-4 {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;   
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}


.grid-container-4 .item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3; 
}

.grid-container-4 .item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-container-4 .item3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}


.grid-container-4 .item4 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.grid-container-4 .item5 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}


.grid-container-4 .item6 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}


.grid-container-4 .item7 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.grid-container-4 .item8 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

