:root {
  --blue: #4287f5;
  --orange: #ffa500;
  --gold: #ffd700;
  --black: #000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 3px solid var(--black);
  font-family: Arial, sans-serif;
  color: var(--black);
}

.header {
  background-color: var(--blue);
  padding: 10px;
  border-bottom: 4px solid var(--black);
}

.content {
  display: flex;              
  background-color: var(--black); 
}


.section {
  background-color: var(--orange);
  width: 75%;
  padding: 10px;
  border: 4px solid var(--black);
  height: 300px;
}

.aside {
  background-color: var(--gold);
  width: 25%;
  padding: 10px;
  border: 4px solid var(--black);
  height: 300px;
}

/* Headings */
h1, h2, h3 {
  margin-top: 0;
}
